.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.row mt-3{
  display: flex;
  flex-wrap:wrap;
}
.col-sm{
  flex:1;
}
.currency-prefix{
  padding-left: 2rem;
}
/* Dropdown-style */

.dropdown.open .dropdown-menu {
  display: block;
}

.dropdown .dropdown-toggle {
  background-color: #65d891;
  border:1px solid grey;
  border-radius: 3px;
  color: white;
  margin-top: 3px;
  padding: 5px 10px;
  cursor:default;
  height: 55px;
  width: 200px;
  font-size: 1rem;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #8cecb1;
  border: 1px solid grey;
  color:#282c34;
  list-style: none;
}

.dropdown .dropdown-menu li {
  padding: 5px 20px;
  cursor: pointer;
}

.dropdown .dropdown-menu li:hover {
  background-color: #f8f9fa;
}



